<footer role="complementary">
  <a class="smallcaps-link" href="/airbnb">Airbnb</a>
  <a class="smallcaps-link" href="/vinyl">Vinyl</a>
  <a class="smallcaps-link" href="/wedding">Wedding</a>
  <a class="smallcaps-link" href="/wub">Wub</a>
</footer>