<header role="banner">
  <a class="mattmeg" href="/">Matt&amp;Meg</a>

  <a class="smallcaps-link" href="/blog">Blog</a>
  <a class="smallcaps-link" href="/shop">Shop</a>
  <a class="smallcaps-link" href="/people">People</a>
  <a class="smallcaps-link" href="/places">Places</a>
  <a class="smallcaps-link" href="/things">Things</a>
  <a class="smallcaps-link" href="/ideas">Ideas</a>
  <a class="smallcaps-link" href="/about">About</a>
  <a class="smallcaps-link">❤</a>
</header>